@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
  overflow: overlay;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll:hover::-webkit-scrollbar-thumb {
  @apply bg-on-background/10 hover:bg-on-background/20 active:bg-on-background/30;
}
.scroll-parent {
  @apply flex flex-col overflow-hidden;
}

.scroll-h {
  @apply overflow-x-auto;
}
.scroll-h::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.match-highlight {
  @apply bg-yellow-500/30;
  color: unset;
}
